{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ghost Page | 404 </title>
    <link rel="stylesheet" href="{% static 'error/style.css' %}">
</head>
<body>
<!-- partial:index.partial.html -->
<div class="box">
    <div class="box__ghost">
        <div class="symbol"></div>
        <div class="symbol"></div>
        <div class="symbol"></div>
        <div class="symbol"></div>
        <div class="symbol"></div>
        <div class="symbol"></div>

        <div class="box__ghost-container">
            <div class="box__ghost-eyes">
                <div class="box__eye-left"></div>
                <div class="box__eye-right"></div>
            </div>
            <div class="box__ghost-bottom">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="box__ghost-shadow"></div>
    </div>

    <div class="box__description">
        <div class="box__description-container">
            <div class="box__description-title">Whoops!</div>
            <div class="box__description-text">It seems like we couldn't find the page you were looking for</div>
        </div>

        <button onclick="javascript:history.go(-1)" class="box__button">Go back</button>

    </div>

</div>
<!-- partial -->
<script src='{% static 'competition/js/jquery.min.js' %}'></script>
<script src="{% static 'error/script.js' %}"></script>

</body>
</html>